.container__controllers {
  grid-column: 1;

  // margin: 5rem 0;

  @media only screen and (max-width: 50em) {
    align-self: end;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
