.container__tools {
  background: url("../../public/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  display: flex;
  justify-content: center;
  align-items: center;

  .link {
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  .icons {
    width: 4.5rem;
    height: 4.5rem;
    fill: var(--color-icons);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      fill: var(--color-soft-red);
      transform: translateY(-2px) scale(1.05);
    }

    &:active {
      transform: translateY(0);
    }
  }

  .sp {
    padding: 0.4rem;
  }
}
