@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,700;1,700&display=swap");

:root {
  --color-grayish-blue: hsl(237, 18%, 59%);
  --color-soft-red: hsl(345, 95%, 68%);

  --color-white: hsl(0, 0%, 100%);
  --color-dark-desaturated-blue: hsl(236, 21%, 26%);
  --color-very-dark-blue: hsl(235, 16%, 14%);
  --color-very-dark-mostly-black-blue: hsl(234, 17%, 12%);

  --font-size-normal: 62.5%;
  --font-family: "Red Hat Text", sans-serif;
  --font-weight: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--font-size-normal);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
