@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,700;1,700&display=swap");

:root {
  --color-grayish-blue: #8486a9;
  --color-soft-red: #fb6087;

  --color-white: #ffffff;
  --color-dark-desaturated-blue: #343650;
  --color-very-dark-blue: #1e1f29;
  --color-very-dark-mostly-black-blue: #191a24;

  --color-icons: #8385a9;

  --color-bg-bottom: #261e2f;

  --font-size-normal: 62.5%;
  --font-size-small: 50%;
  --font-family: "Red Hat Text", sans-serif;
  --font-weight: 700;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--font-size-normal);
  box-sizing: border-box;
}

body {
  background: url("../public/bg-stars.svg"),
    linear-gradient(
      var(--color-very-dark-mostly-black-blue),
      var(--color-bg-bottom) 60%
    );

  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 20rem;
}

@keyframes starsRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* background: var(--color-grayish-blue); */
/* background: var(--color-dark-desaturated-blue); */
/* background: var(--color-very-dark-blue); */
/* background: var(--color-very-dark-mostly-black-blue); */

/* background: radial-gradient(
    circle at 50% 100%,
    var(--color-bg-bottom) 20%,
    var(--color-very-dark-mostly-black-blue)
  ); */
/* background: url("../public/pattern-hills.svg"); */
/* background: url("../public/bg-stars.svg"); */
/* background: url("../public/bg-stars.svg"); */
